@media screen and (max-width:576px) {
    .link-items {
        display: none;
    }

    .display-none {
        display: block;
    }

    .banner {
        flex-direction: column;

    }

    .btn-class {
        gap: 10px;
        justify-content: space-between;
    }

    .btn {
        padding: 15px 25px;
        font-size: 1rem;


    }

    .video_tag {
        width: 180px;
        height: 80px;
        margin-top: -240px;
        margin-left: -20px;
    }

    .video_tag-2 {

        width: 180px;
        height: 100px;
        /* margin-top: -520px;
        margin-left: 150px; */
        right: -30px;

    }

    .video_tag-2 h2 {
        font-size: 25px;
    }

    .changeHabit-items {

        grid-template-columns: 1fr;

    }

    .RunExtraMile {
        grid-template-columns: 1fr;
    }

    .content-div {
        padding-left: 5px
    }

    .img-div {
        width: 90%;
    }

    .BMI-Calculator {
        text-align: center;
        font-size: 2rem;
    }

    .BMI-Calculator-Inner-Wrapper {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .form-control {
        width: 100%;
    }

    .team-items {
        grid-template-columns: 1fr;
    }

    .footer-content-section {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .font-32,
    .content-div h2 {
        font-size: 2rem;
    }

    .BMI-Calculator .BMI-title {
        font-size: 2rem;
        font-weight: 800;
    }

    .btn-id {
        width: 100%;
    }

    .img-div img {
        object-fit: none;
        object-position: 66% 30%;
    }
    .Calculate-BMI-title{
        font-size: 1rem;
    }
    .footer-title {
        font-size: 1.5rem;
    }
    .banner-title{
        font-size: 36px;
    }
}