@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+CU:wght@100..400&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

.inter-font-family {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.playwrite-font {
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;

}

/* Shared Styles */
.display-flex {
    display: flex;
}

.web-width {
    max-width: 80%;
    margin: 0 auto;
}

.orange {
    color: rgb(230, 83, 60);
}

.bg-black {
    background: black;
}

.white {
    color: white;
}

section {
    margin-top: 100px;
}

/* Navbar styles */
.display-none {
    color: white;
    font-size: 2rem;
    display: none;
}

header {
    background: linear-gradient(180deg, rgb(17, 17, 17), rgba(255, 255, 255, 0.05), rgb(17, 17, 17) 100%);

}

.nav-top {
    padding-top: 50px;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.link-items {
    list-style: none;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;


}

.link-items a {
    text-decoration: none;
    color: white;
    padding: 20px 30px;
    border-radius: 40px;
    display: inline-block;

}

.active {
    background: rgb(230, 83, 60);

}

.brand {
    font-size: 2.5rem;
    font-weight: 800;
}

.banner-title {
    color: rgb(255, 255, 255);
    font-size: 4.2rem;
    font-weight: 900;
    max-width: 520px;
    margin-bottom: 28px;
}

.banner-description {
    color: rgba(255, 255, 255, 0.5);
    max-width: 520px;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 28px;

}

.banner {
    display: flex;
    flex-direction: row;
    gap: 250px;
    margin-top: 100px;
}

.banner-right {

    position: relative;
}

.banner-right img {
    max-width: 100%;
}

.btn-class {
    display: flex;
    gap: 30px;
}

.btn {
    padding: 15px 40px;
    font-size: 1rem;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    font-size: 1.1rem;
    font-weight: 500;

}

.btn-primary {
    background: rgb(230, 83, 60);
    outline: none;
    color: white;
    border: none;
}

.video_tag {
    position: absolute;
    width: 200px;
    height: 80px;
    color: white;
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    gap: 10px;
    margin-top: -180px;
    margin-left: -130px;
}

#or-circle {
    width: 35px;
    height: 35px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
    margin-left: 20px;

}

.video_tag p {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.5);
}

.video_tag-2 {
    position: absolute;
    width: 200px;
    height: 100px;
    color: white;
    align-items: center;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    top: 100px;
    right: -70px;

}

.video_tag-2 p {
    margin-top: 16px;
    color: rgba(255, 255, 255, 0.5);
}

.video_tag-2 h2 {
    font-size: 30px;
    margin-top: 15px;
}

/* Habit CSS */
.changehabit-title {
    font-size: 3rem;
    text-align: center;
    font-weight: 900;
    color: white;
}

.changehabit-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 50px;
}

.changeHabit-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.img-class {
    width: 220px;
    margin: 20px auto;
}

.changehabit-item img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.ch-title {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    color: white;
}

.ch-des {
    font-size: 0.9rem;
    text-align: center;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 15px;
}

/* RunExtra CSS */
.RunExtraMile {
    color: white;
    display: grid;
    grid-template-columns: 1.75fr 1.25fr;
    padding: 50px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}

.content-div {
    max-width: 500px;
    padding-left: 100px;

}

.content-div h2 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.content-div p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 34px;

}

.img-div {
    width: 80%;
    height: 350px;
    margin: 20px;
    border-radius: 18px;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-div img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    object-fit: none;
    object-position: 70% 30%;
}

/* BMI CSS */
.BMI-Calculator {
    text-align: center;
}

.BMI-Calculator .BMI-title {
    font-size: 3rem;
    font-weight: 900;
}

.BMI-Calculator .BMI-description {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 80px;
    margin-top: 20px;
}

.BMI-Calculator-Outer-Wrapper {
    background: rgb(34, 34, 34);
    padding: 20px;
}

.BMI-Calculator-Inner-Wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 200px;
    padding: 30px;
}

.Calculate-BMI-title {
    font-size: 28px;
    font-weight: 900;

}

table {
    margin-top: 52px;
}

td {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}

table,
td,
th {

    border: 0.5px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
}

td,
th {
    padding: 15px;
}

th {
    font-size: 1rem;
    font-weight: 500;
}

.Calculate-BMI-description {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 25px;
    margin-top: 20px;
}

.form-control {
    display: flex;
}

.form-two input,
select,
#activity {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    outline: none;
    border: none;
    padding: 15px 10px;
    margin: 10px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
}

select>option {
    background-color: black;
}

#button {
    width: 224px;
    height: 54px;
    margin: 10px;
    margin-top: 34px;
}

/* Team CSS */
.Meet-team-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    margin-top: 80px;
}

.Meet-team-description {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 40px;
    color: rgba(255, 255, 255, 0.5);
}

.team-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background: rgba(175, 172, 172, 0.2);
    border-radius: 18px;
}

.team-item {
    width: 80%;
    height: 250px;
    position: relative;
    margin: 25px auto;
}

.team-item img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

.team-title {
    position: absolute;
    font-size: 1.3rem;
    top: 170px;
    left: 20px;
}

.team-description {
    position: absolute;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    top: 200px;
    left: 20px;
}

/* Affiliate Section */
.affiliate-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 120px;
    margin-top: 100px;
    padding: 100px;

}

.affiliate-content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.affiliate-title {
    font-size: 3rem;
    font-weight: 700;
}

.Affiliate-description {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.5);
}

.btn-aff {
    width: 50%;
}

.affiliate-img-section {
    position: relative;
}

.img-control {
    width: 80%;
    height: 420px;
    border-radius: 18px;
}

.img-control img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

.img-aff {
    position: absolute;
    top: 200px;
    right: -30px;
}

#affiliate100 {
    position: absolute;
    padding: 10px 20px;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 18px;
    background: rgba(43, 147, 165, 0.6);
    outline: none;
    top: 70px;
    left: 30px;
}

#affiliate7 {
    position: absolute;
    padding: 10px 20px;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 18px;
    background: rgb(230, 83, 60);
    outline: none;
    top: 300px;
    left: -40px;
}

/* Footer CSS */

.footer {
    width: 100%;
    background: rgb(34, 34, 34);
    margin-top: 100px;
}

.footer-content-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 100px 0px 50px 0px;
    gap: 120px;
    justify-content: center;
    align-items: center;

}

.footer-heading {
    color: rgb(230, 83, 60);
    font-size: 4rem;
    font-weight: 800;
}

.footer-description {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.5);
    text-align: left;
    margin-bottom: 10px;
}

.footer-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;

}

.footer-menus {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-menu-item {
    font-size: 1.1rem;
    margin: 10px 0px;

}

.footer-menu-item a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

.hr {
    margin-top: 80px;
    margin-bottom: 32px;
}

.copyright {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 35px;
    font-size: 1.1rem;
    font-weight: 400;
}